.bar {
    margin: 0;
    padding: 0;
  }
  
  .toolbar {
    background-color: #505050;
    color: white;
  }
  
  .btn-success {
    float: right;
  }

  .logo{
    width: 10vw;
  }
  .logo-icon{
    color: red;
  }

  .title{
    text-decoration: none;
  }
  .fs-1 a{
    color: #0275d8;
  }