<section class="container-fluid bar">
    <div class="toolbar w-100 bg-dark">
        <div class="fs-1">
            <a class="title ms-3" href="index.html">Digi 
                <fa-icon class="logo-icon" [icon]="faCircle"></fa-icon>
                Quotes
            </a>
            <button type="button" class="btn btn-primary text-dark float-end m-2" data-bs-toggle="modal"
            data-bs-target="#exampleModal">
            Add Quote
            <fa-icon class="add-img" [icon]="faPlus"></fa-icon>
        </button>
        </div>
        
    </div>
</section>