<section class="container-fluid row mb-5">
    <div class="card m-3 col-md-12 bg-dark text-light" style="width: 18rem;" *ngFor="let detail of details index as i">
        <div *ngIf="detail.quoteUpVote == highest && detail.quoteUpVote > 0; then highlight else noHighlight"></div>
        <ng-template #highlight>
            <div class="card-body bg-dark">
                <img [src]="detail.quoteImage" class="card-img-top">
                <h5 appHighlight class="card-title mt-3">
                    {{detail.quoteCategory}}
                    <div class="float-end">
                        <fa-icon class="most" [icon]="faStar" (click)="showDesc()"></fa-icon>
                        <p class="text" *ngIf="text">Most Likes</p>
                    </div>
                </h5>
                <div appHighlight class="card-text mt-3">{{detail.quoteBody}}</div>
                <ul class="list-group list-group-flush bg-dark mt-4">
                    <li class="list-group-item bg-dark text-light"><span class="me-2 text-secondary">
                            Author:</span> {{detail.quoteAuthor}}
                    </li>
                    <li class="list-group-item bg-dark text-light "><span class="me-2 text-secondary">
                            Posted By:</span>{{detail.quotePoster}}
                    </li>
                    <li class="list-group-item bg-dark text-light"><span class="me-2 text-secondary">
                            Days Elapsed:</span>{{detail.quoteDate |dateCount}}</li>
                </ul>
                <div class="voting row mt-2 ms-3">
                    <div class="col-md-4">
                        <fa-icon (click)="upVote(i)" class="card-vote-up" [icon]="faThumbsUp"></fa-icon>
                        {{detail.quoteUpVote}}
                    </div>
                    <div class="col-md-4">
                        <fa-icon class="card-vote-down" (click)="downVote(i)" [icon]="faThumbsDown"></fa-icon>
                        {{detail.quoteDownVote}}
                    </div>
                    <div class="col-md-4">
                        <fa-icon class="card-delete ms-5" (click)="delete(i)" [icon]="faTrash"></fa-icon>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template #noHighlight>
            <div class="card-body bg-dark">
                <img [src]="detail.quoteImage" class="card-img-top">
                <h5 class="card-title mt-3">{{detail.quoteCategory}}</h5>
                <div class="card-text mt-3">{{detail.quoteBody}}</div>
                <ul class="list-group list-group-flush mt-2 bg-dark mt-4">
                    <li class="list-group-item bg-dark text-light"><span class="me-2 text-secondary"> Author:</span> {{detail.quoteAuthor}}
                    </li>
                    <li class="list-group-item bg-dark text-light"><span class="me-2 text-secondary">Posted By:</span>{{detail.quotePoster}}
                    </li>
                    <li class="list-group-item bg-dark text-light"><span class="me-2 text-secondary">Days Elapsed:</span>{{detail.quoteDate |
                        dateCount}}</li>
                </ul>
                <div class="voting mt-2 row ms-3">
                    <div class="col-md-4">
                        <fa-icon (click)="upVote(i)" class="card-vote-up" [icon]="faThumbsUp"></fa-icon>
                        {{detail.quoteUpVote}}
                    </div>
                    <div class="col-md-4">
                        <fa-icon class="card-vote-down" (click)="downVote(i)" [icon]="faThumbsDown"></fa-icon>
                        {{detail.quoteDownVote}}
                    </div>
                    <div class="col-md-4">
                        <fa-icon class="card-delete ms-5" (click)="delete(i)" [icon]="faTrash"></fa-icon>
                    </div>

                </div>
            </div>
        </ng-template>
    </div>
</section>