.voting {
  display: flex;
  justify-content: space-between;
}

.card-vote-up {
  cursor: pointer;
}

.card-vote-up:hover,
.card-vote-down:hover {
  filter: invert(60%) sepia(80%) saturate(7466%) hue-rotate(20deg);
}

.card-vote-down {
  cursor: pointer;
}

.text {
  font-size: 8px;
  font-weight: 400;
}

.card:hover{
  opacity: 0.6;
}
.most{
  cursor: pointer;
}

