.voting {
  display: flex;
  justify-content: space-between;
}

.card-vote-up , .card-vote-down {
  cursor: pointer;
  color: #0275d8;
}

.card-vote-up:hover,
.card-vote-down:hover {
 color: red;
}

.card-delete:hover{
  cursor: pointer;
}

.text {
  font-size: 8px;
  font-weight: 400;
}

.card:hover{
  opacity: 0.6;
}
.most{
  cursor: pointer;
}

