<section class="container-fluid row">
    <div class="card m-3 col-md-12" style="width: 18rem;" *ngFor="let detail of details index as i">
        <div *ngIf="detail.quoteUpVote == highest && detail.quoteUpVote > 0; then highlight else noHighlight"></div>
        <ng-template #highlight>
            <div class="card-body">
                <img [src]="detail.quoteImage" class="card-img-top">
                <h5 appHighlight class="card-title mt-3">
                    {{detail.quoteCategory}}
                    <div class="float-end">
                        <img class="most" src="../assets/most.svg" (click)="showDesc()">
                        <p class="text" *ngIf="text">Most Likes</p>
                    </div>
                </h5>
                <div appHighlight class="card-text">{{detail.quoteBody}}</div>
                <ul class="list-group list-group-flush mt-5">
                    <li class="list-group-item"><span class="me-2 text-info">
                            Author:</span> {{detail.quoteAuthor}}
                    </li>
                    <li class="list-group-item"><span class="me-2 text-success">
                            Posted By:</span>{{detail.quotePoster}}
                    </li>
                    <li class="list-group-item"><span class="me-2 text-success">
                            Days Elapsed:</span>{{detail.quoteDate |dateCount}}</li>
                </ul>
                <div class="voting  row mt-5 ms-3">
                    <div class="col-md-6">
                        <img (click)="upVote(i)" class="card-vote-up" src="../assets/up.svg">
                        {{detail.quoteUpVote}}
                    </div>
                    <div class="col-md-6">
                        <img (click)="downVote(i)" class="card-vote-down " src="../assets/down.svg">
                        {{detail.quoteDownVote}}
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template #noHighlight>
            <div class="card-body">
                <img [src]="detail.quoteImage" class="card-img-top">
                <h5 class="card-title mt-3">{{detail.quoteCategory}}</h5>
                <div class="card-text">{{detail.quoteBody}}</div>
                <ul class="list-group list-group-flush mt-5">
                    <li class="list-group-item "><span class="me-2 text-info"> Author:</span> {{detail.quoteAuthor}}
                    </li>
                    <li class="list-group-item"><span class="me-2 text-success">Posted By:</span>{{detail.quotePoster}}
                    </li>
                    <li class="list-group-item"><span class="me-2 text-success">Days Elapsed:</span>{{detail.quoteDate |
                        dateCount}}</li>
                </ul>
                <div class="voting  row mt-5 ms-3">
                    <div class="col-md-6">
                        <img (click)="upVote(i)" class="card-vote-up" src="../assets/up.svg">
                        {{detail.quoteUpVote}}
                    </div>
                    <div class="col-md-6">
                        <img (click)="downVote(i)" class="card-vote-down " src="../assets/down.svg">
                        {{detail.quoteDownVote}}
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</section>